body {
    font-family: Arial, sans-serif;
    background-color: #ffe4c4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 15px 0;
}

main {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.imagen-principal {
    width: 350px;
    display: block;
    margin: 18px auto;
    border-radius: 8px;
    box-shadow: 0 0 8px #c44a;
}

ul {
    list-style: square;
    margin-left: 20px;
}

ol {
    margin-left: 20px;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;

    margin-right: 20px;
}
a:hover {
    text-decoration: underline;
}
label {
    font-weight: bold;
    display: block;     
    margin-bottom: 4px; 
}
.botones {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}
input[type="submit"],
input[type="reset"] {
    width: auto;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #b22222;
    color: #ffffff;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #8d1b1b;
}