body {
    font-family: Arial, sans-serif;
    background-color: #ffe4c4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 15px 0;
}

main {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.imagen-principal {
    width: 350px;
    display: block;
    margin: 18px auto;
    border-radius: 8px;
    box-shadow: 0 0 8px #c44a;
}

ul {
    list-style: square;
    margin-left: 20px;
}

ol {
    margin-left: 20px;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
