        body {
            margin: 0;
            padding: 20px;
            background-color: #71ff5f;
            color: #333;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 0 auto;
            margin-top: 40px;
            border-width: 3px;  
            border-style: solid; 
            border-color: black; 
        }
        
        th {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
            border-width: 2px;  
            border-style: solid; 
            border-color: black;
            background-color: #3498db;
            color: white;
            font-weight: bold;
        }
        
        .recreo {
            background-color: #d31414;
            font-weight: bold;
            color:#000000
        }
        
        .prog {background-color: #fd7f7f;
        color:#000000}
        .lmsgi {background-color: #fdf7a2;
        color:#000000}
        .sinf {background-color: #1d4f9b;
        color:#000000}
        .badat {background-color: #198a35;
        color:#000000}
        .endes {background-color: #e6862d;
        color:#000000}
        .ipe{background-color: #858585;
        color:#000000}
        .daspgs {background-color: #c2ce1e;
        color:#000000}
        .sasp {background-color: #972187;
        color:#000000}
        .dias { background-color: #e8f6f3; 
        color:#000000}
        .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #7a8ba3;
            padding: 15px;
            text-align: center;
            border-bottom: 2px solid black;
            z-index: 1000;
        }
